---
const routes = {
  home: "/",
  projects: "/projects",
  blog: "/blog",
  contact: "/contact",
} as const;

const isActive = (route: keyof typeof routes) => {
  const path = routes[route];
  return Astro.url.pathname === path;
};
---

<style scoped>
  a {
    @apply lowercase transition-all;
  }
  a[data-active="true"] {
    @apply text-primary font-medium underline;
  }
</style>

<header class="box-content flex h-16 shrink-0 items-start justify-between p-2">
  <div></div>
  <nav class="bg-card text-card-foreground border-border/50 rounded-full border px-6 py-2">
    <ul class="flex flex-row items-center justify-center gap-8">
      <li>
        <a href="/" data-active={isActive("home")}> Home </a>
      </li>
      <li>
        <a href="/projects" data-active={isActive("projects")}> Projects </a>
      </li>
      <li>
        <a href="/blog" data-active={isActive("blog")}> Blog </a>
      </li>
      <li>
        <a href="/contact" data-active={isActive("contact")}> Contact </a>
      </li>
    </ul>
  </nav>

  <div></div>
</header>
