:root[data-theme="polterg"] {
  --border: 215 27.9% 16.9%;
  --background: 240 10% 3.9%;
  --foreground: 210 20% 98%;
  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --primary: 269 54% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 269 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --accent: 231 30% 15%;
  --accent-foreground: 269 5% 90%;
  --destructive: 0 56% 30%;
  --destructive-foreground: 269 5% 90%;
}
